.landing-view {
  .relevance {
    p {
      font-size: 12px;
    }
    .link {
      color: rgba(255, 107, 107, 1);
      transition: 0.3s ease all;

      &:hover {
        color: rgb(93, 216, 238);
      }
    }
  }
}
