:host {
  font-family: 'Courier New', Courier, monospace;
}

.user {
  background-color: #9687FF;
  border: 2px solid #CCC5FF;
  border-radius: 10px;
  color: white;
  padding: 10px 7px;
  margin-bottom: 5px;
}

.user .title-name {
  font-size: 24px;
  font-family: sans-serif;
}
